<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Page Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>MNIST Image prediction!</title>
  </head>
  <body>
    <div id="canvas_div" class="container-fluid my-auto">
        <!-- Tutorial -->
        <ul>
          <p><b>Tutorial:</b></p>
          <li>Using the mouse or touch screen begin to draw a digit between 0-9. </li>
          <li>To erase your work, select the "Change Mode" button to swap to erase mode, and again to swap back to draw mode.</li>
          <li>To change pen size, move the slider until at a suitable size.</li>
          <li>When you are happy with your digit, select the "Predict" button and wait for predicition.</li>
        </ul>

        <!-- Canvas setup -->
        <canvas id="canvas" width="280" height="280" style="border:3px solid #000000;"></canvas><br>
    
        <!-- BUTTONS -->
        <!-- To learn how to call an onclick event I looked on w3schools. -->
        <!-- https://www.w3schools.com/jsref/event_onclick.asp -->
        <button onclick="eraseDraw()" class="button_style">Change Mode</button>
        <button onclick="clearCanvas()" class="button_style">Clear</button>

        <!-- &nbsp; -->
        <h4 id="mode">Mode: Draw</h4>

        <br>

        <!-- DISPLAY -->
        <p id="sizeText">Size: 3</p>
        <!-- Code adapted from: https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        <input type="range" class="slider" id='size' min="1" max="6" value = '3' step="1" onchange='setSize();'>
    
        <br><br>
        <!-- To display two tags inline I researched and found display:inline-block -->
        <!-- Code adapted from: https://stackoverflow.com/questions/9067892/how-to-align-two-elements-on-the-same-line-without-changing-html -->
        <button onclick="predictImage()" class="button_style prediction">Predict</button>
        <h3 class="prediction">Predicted Results:</h3>
        <h3 id="result" class="prediction"></h3>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='javascript/canvas.js') }}"></script>
  </body>
</html>