<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world! Thanks</h1>

    <canvas id="canvas" width="28" height="28" style="border:1px solid #000000;"></canvas>

    <!-- To learn how to call an onclick event I looked on w3schools. -->
    <!-- https://www.w3schools.com/jsref/event_onclick.asp -->
    <button onclick="predictImage()">Predict</button>

    <h4 id="result"></h4>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      // Get an instance of the canvas
      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');

      // Code adapted from: https://www.html5canvastutorials.com/labs/html5-canvas-paint-application/

      // Initialize the mouse position to 0.
      var mouse = {x: 0, y: 0};
      
      // Listener which is called when mouse movement is detected.
      canvas.addEventListener('mousemove', function(e) {
        mouse.x = e.pageX - this.offsetLeft;
        mouse.y = e.pageY - this.offsetTop;
      }, false);

      // Set up drawing parameters
      ctx.lineWidth = 1.5;
      ctx.lineJoin = 'round';
      ctx.lineCap = 'round';
      ctx.strokeStyle = '#000000';
      
      // Listener which is called when mouse button is held down.
      canvas.addEventListener('mousedown', function(e) {
        ctx.beginPath();
        ctx.moveTo(mouse.x, mouse.y);
      
        // Call mouse movement listener which will draw a line between each new mouse position.
        canvas.addEventListener('mousemove', onPaint, false);
      }, false);
      
      // Listener which is called when mouse button is released.
      // Stops drawing by passing false to mousemove.
      canvas.addEventListener('mouseup', function() {
        canvas.removeEventListener('mousemove', onPaint, false);
      }, false);
      
      // Function to draw line from previous mouse position to new position.
      var onPaint = function() {
        ctx.lineTo(mouse.x, mouse.y);
        ctx.stroke();
      };

      function predictImage() {
        // To convert the canvas to an image I found a built in method which converts it to base64 binary, 
        // which will allow me to send the image to the flask server using AJAX
        // https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL
        var dataURL = canvas.toDataURL();
        var obj = { 'data': dataURL};

        // console.log(dataURL); Test printing to console

        // I wanted to create an asynchronous request to the server and from research I found that using 
        // an xhttp AJAX request would work well. This will send the image and return the result when ready.
        // Code adapted from: https://www.w3schools.com/xml/ajax_xmlhttprequest_send.asp

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("result").innerHTML = this.responseText;
          }
        };
        xhttp.open("POST", "/predictImage", true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.send(JSON.stringify(obj));
      }
    </script>
  </body>
</html>